<section class="section-technologies">
    <div class="container">
        <div class="row d-flex justify-content-center text-center pb-15">
            <h1>Technologies</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Javascript</h6>
                                <h6 class="font-weight-bold">85%</h6>
                            </div>
                            <div>
                                <ngb-progressbar type="success" [value]="85" [striped]="true"></ngb-progressbar>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Angular</h6>
                                <h6 class="font-weight-bold">80%</h6>
                            </div>
                            <div>
                                <ngb-progressbar type="warning" [value]="80" [striped]="true"></ngb-progressbar>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Node JS</h6>
                                <h6 class="font-weight-bold">50%</h6>
                            </div>
                            <div>
                                <ngb-progressbar type="dark" [value]="40" [striped]="true"></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">HTML</h6>
                                <h6 class="font-weight-bold">75%</h6>
                            </div>
                            <div>
                                <ngb-progressbar type="info" [value]="70" [striped]="true"></ngb-progressbar>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">CSS</h6>
                                <h6 class="font-weight-bold">75%</h6>
                            </div>
                            <div>
                                <ngb-progressbar type="primary" [value]="70" [striped]="true"></ngb-progressbar>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">MongoDB</h6>
                                <h6 class="font-weight-bold">60%</h6>
                            </div>
                            <div>
                                <ngb-progressbar type="secondary" [value]="50" [striped]="true"></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>