<section class="section-about">
    <div class="container">
        <div class="row d-flex justify-content-center text-center pb-15">
            <h1>About Me</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-12 banner-image">
                <img src="../../../assets/img/about-us.png" alt="About us Image" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-12 lhs">
                <!-- <h6 class="title-text text-uppercase">Let me Introduce myself</h6> -->
                <div class="py-4">
                    <p>Web developer, with extensive knowledge and 9+ years of experience in web technologies,
                        delivering quality work.</p>
                    <p>Expert in Angular Javascript framewrok. I have more than 7+ year of experience in Angular framework.</p>
                    <p>I worked on various domain like Travel & Hospitality, Banking, Oil & Gas.</p>
                    <p>I am Agile process follower by heart.</p>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="text-center title-text">09+</div>
                        <div class="text-center">Years experience</div>
                    </div>
                    <div class="col-4">
                        <div class="text-center title-text">20+</div>
                        <div class="text-center">Completed projects</div>
                    </div>
                    <div class="col-4">
                        <div class="text-center title-text">04</div>
                        <div class="text-center">Companies worked</div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-12">
                        <button class="btn primary-button text-uppercase mr-10">Download CV</button>
                        <button class="btn primary-button text-uppercase">Contact Me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>