<app-header></app-header>
<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 lhs">
                <h1 class="title-text text-uppercase">I am Vasant</h1>
                <h4 class="title-text text-uppercase">Front-end Developer</h4>
                <button class="btn primary-button text-uppercase">GET CV</button>
            </div>
            <div class="col-lg-6 col-md-12 banner-image">
                <img src="../../../assets/img/banner-image.png" alt="Banner Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>