<section class="section-banner">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-12 lhs">
                <h3 class="title-text text-uppercase">Hi, I'am Vasant</h3>
                <h6 class="title-text text-uppercase">Front-end Developer</h6>
                <p>High level experience in web design and development with good quality.</p>
                <div class="row py-5">
                    <div class="col-12">
                        <button class="btn primary-button text-uppercase mr-10">Download CV</button>
                        <button class="btn primary-button text-uppercase">Contact Me</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 banner-image text-center">
                <img src="../../../assets/img/vasant.jpg" alt="Banner Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>