<section class="section-experience">
    <div class="container">
        <div class="row d-flex justify-content-center text-center pb-15">
            <h1>Experience</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 border-start border-success ps-3 pt-2 ms-2">
                <div class="position-relative ex-me mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-record-circle text-success position-absolute" viewBox="0 0 16 16"
                        style="top:4px; left:-24.5px;">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <h5 class="form-width-bold mb-1">Programmer Analyst</h5>
                    <p class="mb-2"><strong>CitiBank Services India Pvt. Ltd.</strong></p>
                    <p class="mb-2">Duration: 1.4+ yrs - <small>From Sept-2020 To <strong>Till Date</strong></small></p>
                    <p>In 2012, joined Cybage Software as fresher as Software Engineer. Got promoted as Sr. Software
                        Engineer in 2016.</p>
                </div>

                <div class="position-relative ex-me mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-record-circle text-success position-absolute" viewBox="0 0 16 16"
                        style="top:4px; left:-24.5px;">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <h5 class="form-width-bold mb-1">Senior Software Engineer</h5>
                    <p class="mb-2"><strong>EPAM India</strong></p>
                    <p class="mb-2">Duration: 1.9 yrs - <small>From Jan-2019 To Sept-2020</small></p>
                    <p>In 2012, joined Cybage Software as fresher as Software Engineer. Got promoted as Sr. Software
                        Engineer in 2016.</p>
                </div>

                <div class="position-relative ex-me mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-record-circle text-success position-absolute" viewBox="0 0 16 16"
                        style="top:4px; left:-24.5px;">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <h5 class="form-width-bold mb-1">Advisory System Analyst</h5>
                    <p class="mb-2"><strong>IBM India</strong></p>
                    <p class="mb-2">Duration: 2.5 yrs - <small>From Sept-2016 To Jan-2019</small></p>
                    <p>In 2012, joined Cybage Software as fresher as Software Engineer. Got promoted as Sr. Software
                        Engineer in 2016.</p>
                </div>

                <div class="position-relative ex-me mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-record-circle text-success position-absolute" viewBox="0 0 16 16"
                        style="top:4px; left:-24.5px;">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <h5 class="form-width-bold mb-1">Senior Software Engineer</h5>
                    <p class="mb-2"><strong>Cybage Software Pvt. Ltd.</strong></p>
                    <p class="mb-2">Duration: 4.5 yrs - <small>From Apr-2012 To Sept-2016</small></p>
                    <p>In 2012, joined Cybage Software as fresher as Software Engineer. Got promoted as Sr. Software
                        Engineer in 2016.</p>
                </div>
            </div>
        </div>
    </div>
</section>